.assignees__heading {
  font-size: 2.5rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.assignees__heading {
  flex-grow: 1;
}

.assignees__add {
  width: 3rem;
  height: 3rem;

  line-height: 3rem;
}

.assignees__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin-top: 1rem;

  overflow-x: auto;
}

.assignees__block {
  max-width: 20rem;
  min-width: 20rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  margin-right: 2rem;
  padding: 0.5rem 1rem;

  border: 1px solid red;
}

.assignees__block:last-child {
  margin-right: 0;
}

.assignees__name {
  flex-grow: 1;
  max-width: calc(100% - 1.8rem);

  font-weight: 700;
  font-size: 1.5rem;

  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  overflow: hidden;
  white-space: nowrap;
}

.assignees__delete {
  font-size: 1.5rem;

  width: 1.6rem;
  height: 1.6rem;

  line-height: 1.6rem;

  border: none;
}

.assignees__description {
  width: 100%;
  height: 1.7rem;

  margin-top: 0.5rem;

  font-size: 1.25rem;
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  overflow: hidden;
  white-space: nowrap;
}
