.issues__heading {
  font-size: 2.5rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.issues__heading {
  flex-grow: 1;
}

.issues__add {
  width: 3rem;
  height: 3rem;

  line-height: 3rem;
}

.issues__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  margin-top: 1rem;
}

.issues__block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  margin-bottom: 1rem;
  padding: 0.5rem 1rem;

  border: 1px solid red;
}

.issues__block:last-child {
  margin-bottom: 0;
}

.issues__title {
  flex-grow: 1;

  font-weight: 700;
  font-size: 1.5rem;
}

.issues__close {
  font-size: 1.5rem;

  width: 1.6rem;
  height: 1.6rem;

  line-height: 1.6rem;

  border: none;
}

.issues__description {
  width: 100%;
  margin-top: 0.5rem;

  font-size: 1.25rem;
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.issues__assigned {
  font-weight: 700;
  font-size: 1.3rem;

  margin-top: 0.5rem;
}

.issues__assign-to {
  width: 100%;
  font-size: 1.3rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.issues__label {
  padding-right: 1rem;

  font-weight: bold;
}

.issues__input {
  min-width: 25rem;
  padding: 0.25rem 1rem;

  font-size: 1.3rem;
}

.issue__time {
  width: 100%;

  font-size: 1.3rem;

  margin-top: 0.5rem;
}
