.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 1;
  z-index: 100;

  overflow: hidden;

  background-color: rgba(0, 0, 0, 0.5);

  transition: all 500ms ease;
}

.modal__content {
  position: relative;

  padding: 2rem;

  background-color: white;
}

.modal__heading {
  font-size: 2.5rem;
  text-align: center;
}

.modal__close {
  position: absolute;
  top: 2rem;
  right: 2rem;

  font-size: 2rem;
  text-align: center;

  width: 2.5rem;
  height: 2.5rem;

  line-height: 2.5rem;
}

.modal__form {
  margin-top: 1rem;

  font-size: 1.75rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.form__control {
  margin-bottom: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.form__control:last-child {
  margin-bottom: 0rem;
}

.form__label {
  width: 15rem;
  padding-top: 0.5rem;
  padding-right: 2rem;

  font-weight: 600;
  text-align: right;
}

.form__input {
  width: 50rem;
  padding: 0.5rem 1rem;

  font-size: 1.5rem;
}

.form__input--textarea {
  resize: none;
  height: 10rem;
}

.form__input--select {
  cursor: pointer;
}

.form__submit {
  align-self: center;

  font-size: 1.75rem;

  cursor: pointer;

  margin-top: 2rem;
  padding: 0.5rem 2.5rem;
}
