@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

html {
  min-width: 320px;

  font-size: 10px; /* For making it easier to use rem */
  font-weight: normal;
}

html,
html * {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;

  box-sizing: border-box;
}

body {
  position: relative;

  min-height: 100%;

  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

body h1 {
  font-size: 3rem;
  text-align: center;
}

body section {
  margin: 1rem;
  padding: 1rem;

  border: 1px solid blue;
}

.d-none {
  display: none !important;
}

.btn {
  border: 1px solid red;
  border-radius: 50%;

  text-align: center;

  box-sizing: content-box;

  transition: all ease 300ms;

  cursor: pointer;
}

.btn:hover {
  font-weight: 800;
  background-color: #eeeeee;
}
